.mainCartWrapper {
    position: relative;
    width: 77.375rem;
    left: 7.014%; /*6.3125rem;*/
    right: 7.014%; /*6.3125rem;*/
    padding-top: 1rem;
    padding-bottom: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;

    border-bottom: 2px solid #E5E5E5;
}
.miniCartProductShower {
    position: relative;
    width: 100%;
    min-height: 11.875rem;
    max-height: fit-content;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;

    background: none;
}