.mainCartContainer {
    width: 1440px;
    height: 1433px;
    position: absolute;
    left: calc((100% - 1440px) / 2 );
    right: calc((100% - 1440px) / 2 );
    top: 80px;
    bottom: 0px;
    background: #FFFFFF;
    border: 1px solid red;
}