.productDetailContainer .second .grouped .description{
    width: 100%;
    height: 6.4375rem;
    overflow-y: scroll;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.8rem;

    color: #1D1F22;
}