.dropdown_item_list {
    margin: 0;
    padding: 0;
    z-index: 1000;

    position: absolute;

    display: none;
    
    box-shadow: 0 0 15px 0 gray;
    border-radius: 15px;

    background-color: white;
}
.dropdown_item_list.active {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.item_list {
    list-style: none;
    border-radius: 15px;
  
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
  
    color: #1D1F22;
}
.item_list:last-child button {
    background-color: white;
    border-bottom: none;
}
.item_list button {
    width: 100%;
    border: none;
    padding: 0.8rem;
  
    display: flex;
    
    font-family: inherit;
    font-size: inherit;
    font-weight: 400;
    text-decoration: none;
    
    border-radius: 15px;
    background-color: white;
  
    transition: all 0.1s linear;
    cursor:pointer;
}
.item_list button:hover {
    background-color: gray;
    color: white;
}