.dropdown_activator {
    display: flex;
    align-items: center;
    background-color: inherit;
    border: none;
    padding: 1rem 0.6rem;
    width: 500px;
    height: 68px;
  
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 160%;
    color: #1D1F22;
  
    cursor: pointer;
}
.dropdown_activator:hover {
 border-bottom: 2px solid silver;
 border-image: linear-gradient(
     to right,
     transparent 0%,
     #1a1b1b,
     transparent 80%
   ) 30;
}