.headerActionsContainer .cart {
    width: 40px;
    height: 40px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;

    background:  white;
    border: none;
    
    cursor: pointer;
}
.headerActionsContainer .cart .carticon {
    width: 20px;
    height: 20px;
}
.headerActionsContainer .cart:hover {
    border-bottom: 1px solid silver;
    border-image: linear-gradient(
      to right,
      transparent 0%,
      #1a1b1b,
      transparent 100%
    ) 5;
}