.counterWrapper {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 0px;
    top: 0px;
    
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

    background: #1D1F22;
    border-radius: 60px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    
    color: #FFFFFF;
}


