.currencyWrapper {
    position: relative;
    display: inline-block;
}
.currencyWrapper:hover {
  border-bottom: 1px solid silver;
  border-image: linear-gradient(
    to right,
    transparent 0%,
    #1a1b1b,
    transparent 100%
  ) 5;
}
.currencyShow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-align: start;
  background-color: inherit;
  border: none;
  width: max-content;
  height: 40px;
}
.currencyShow .symbol{
  width: 30px;
}
.currencyShow .label{
  width: 40px;
}